@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.carousel-caption {
  background-color: #6e747746;
  text-shadow: #4d515346;
}

/* ================= Regiones Jujuy ====================== */

.infoJujuy{
  margin:2rem 5rem;
}


h1, h2{
  color: #67d0e6;
  text-align: center;
}

/* ================= Cards Jujuy ====================== */
.container_card {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0 0.75rem;
  margin-bottom: 3rem;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.card img {
  width: 400px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 1px 1px 6px black;
}

.card_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  line-height-step: 3px;
  width: 50%;
}

.card_text h4,
.card_text h5 {
  text-align: center;
}

.card_text p,
.card_text a {
  font-size: 1rem;
  padding: 0 1rem;
}

.video{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:2rem;
}

.links{
  
  margin: 2rem 5rem;
}

.links h3{
  color: #67d0e6;
 
}

/* footer................*/

.footer {
  background-color: #2c2c3f;
  color: white;
  width: 100%;
  height: auto;
}

.footer_container {
  font-size: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

.footer_logo {
  width: 100px;
  height: auto;
}

.footer a {
  text-decoration: none;
  color: #85D7FC;
}

.footer li {
  list-style: none;
}


.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.provincia {
  width: 20%;
  gap:1rem;
}

.redes ul,
.provincia {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn_flotante {
  position: fixed;
  z-index: 20;
  background-color: rgba(44, 44, 63,0.2);
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
  right: 0.75rem;
  bottom: 8rem;
  cursor: pointer;
}

.btn_flotante {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.btn_flotante:hover {
  background-color: rgb(152, 202, 243);
  color: rgb(44, 44, 63);
}

/*=== formulario================ */
#contacto-jujuy {
  width: 400px;
  background-color: #0e6a95;
  font-family: Poppins;
  color: #ffffff;
  padding: 40px;
  margin: auto;
  margin-top:100px;
  text-align: start;
  flex-direction: column;
  display: flex;
  
}

#btn-form {
  width: 100px;
}